.buttonWrap{
    position: absolute;
    height:45px;
    width:100%;
    text-align: center;
    top: calc(50% + 150px);
    opacity: 0;
    display: none;
}

@media screen and (max-width: 767px){
    .buttonWrap{
        text-align: left;
        padding-left:25px;
    }
}